<%- include('../partials/header') %> 
<p>Welcome to <%= title %></p>
<table id='list'>
  <thead>
    <tr>
      <th>Location</th>
      <th>Title</th>
      <th>Price</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <a 
      href="/classes/new" 
      <%- title === 'Add Class' ? 'class="active"' : '' %>
    >ADD Class</a>
     
  </tbody>
</table>
<%- include('../partials/footer') %> 